.Rproj.user
.Rhistory
.RData
*.aux
*.bbl
*.bcf
*.blg
*.out
cache/
figure/
maps/
using-r-main.pdf
using-r-main.tex
learnr.pdf
*.pdf
my-file.csv
my-file1.csv
my-file2.csv
my-file3.txt
my-file4.txt
backups/
