.Rproj.user
.Rhistory
.RData
*.aux
*.bbl
*.bcf
*.blg
*.out
*.log
cache/
maps/
CRC/
backups/
bits/
chapters-removed/
old-pdfs/
old-data/
REVIEWS/
submission/
from-Rob-Calver/
cover/

figure/

tikz-examples/
